page-register {

  .item-form {
    font-size: 2rem;
  }

  ion-item{
    border: none !important;
    .item-inner{
      border: none !important;
    }
  }

}

.toast-message {
  white-space: pre;
}

.errToast {
  .toast-wrapper{
    background-color: #f53d3d;
    .toast-container{
      .toast-message {
        color: white;
        font-weight: bold;
        border-right: 1px solid white;
      }
    }
  }
}
